*{
  margin: 0px;
}

.app{
  padding:30px;
  border-bottom: 1px solid #808080;
  background-color: blue;
  display: flex;
}
.head-ul{
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
  margin-left:30px;
  flex:1;
}
.list{
  padding: 0px;
  font-size: 20px;
  margin-left:30px;
}
.head-li{
  margin: 10px;
  display: inline;
  padding-right:10px;
  color: white;
  font-weight: bold;
}
.title-div{
  margin-left: 10px;
  font-size: 35px;
  color: rgb(79, 130, 201);
  line-height: 1;
  padding-bottom: 8px;
}
.cat{
  text-decoration: none ;
}
.logo{
  width:80px;
}
.home{
  margin:0px 20px;
  padding-top:20px;
}
.heading{
  font-size:40px;
  text-align: center;
  color: rgb(17, 134, 229);
  font-weight: bold;
}
.first{
  padding:40px;
  display: flex;
  justify-content: center;
}
.title{
  border:2px solid rgb(75, 80, 83);
  display: inline-block;
  border-radius: 5px;
  margin-right: 40px;
  padding: 10px;
}
.details{
  display: inline-block;
  vertical-align: top;
  border:2px solid gray;
  padding:15px;
}

.cart{
  margin-right:50px;
}

.bt{
  color: blue;
   font-weight: bold;
   font-size:20px;
   border-radius: 50px;
   padding:5px 10px;
   border: none;
   cursor:pointer
}
.details{
  padding: 10px;
}
.log{
  text-align: center;
  font-size: 25px;
}

.name{
  font-size: 20px;
  color: green;
}
.text-name{
  padding: 4px 8px;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 10px;
}

.btn{
  margin-left:55px;
  font-size: 20px;
  padding:5px 10px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: 400;
 }

 .category{
  display: grid;
  grid-template-columns: 200px 200px 200px  ;
  column-gap: 50px;
  row-gap: 30px;
  justify-content: center;
  padding-top: 10px;
 }
 .boy{
  border:2px solid blue;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  border-radius: 10px;
  background-color: rgb(53, 137, 222);
 }

 .support{
  font-size:60px;
  color: rgb(17, 134, 229);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height:350px;
  background-color: rgb(33, 33, 33);
 }
 .sub-r{
  background-color: red;
 }